<% layout("/layouts/boilerplate") %>


   
    <br>
  

        <a href="/listings/<%=//listing._id  %>"></a> <br> 

   


    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        
        <% for (const listing of listings) { %>
            <div class="col one-listing">
                <a href="/listings/<%=listing._id  %>" class="listing-link" >
                <div class="card h-100" style="background-color: #f8f9fa; border: none;">
                    <img src="<%= listing.image.url %>" class="card-img-top bt-300" style="height: 18rem; border-radius: 5px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= listing.title %></h5>
                        <p class="card-text">
                           
                        &#x930 <%= listing.price.toLocaleString("en-NP")  %><br>
                        <%= listing.country%> <br>
                           <%= listing.location  %> <br>
                        </p>
                </a>
                    </div>
                </div>
            </div>
            </a>
        <% } %>
    </div>